/* ########## BUTTONS ########## */

.buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  min-width: 100px;
  z-index: 999;
}

.button {
  width: 45%;
  height: 50px;
  background-color: #212121;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  color: #fff;
  border: none;
  outline: none;
  transition: background-color 0.3s;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.button:hover {
  background-color: #F4EEE0;
  color: #0f0f0f;
}

.altMenuBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 40px;
  height: 100%;
}

.altMenuBtn-mark{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}