/* ########## CARD ########## */

.card-container {
  width: 800px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-family: Arial, sans-serif;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform 0.4s;
  margin-bottom: 20px;
  display: block;
  user-select: none;
  border-radius: 20px;
}

.card-front{
  
}
  
.card-back{
  transform: rotateY(180deg);
}
  
.card-front, .card-back{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 20px;
}

.front-text-container, .back-text-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px;
  font-weight: bold;
  background-color: #212121;
  font-size: 24px;
  border-radius: inherit;
}

.front-text-container {
    
}

.back-text-container {

}

.front-text{
  
}

.back-text{

}